{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}/ Saison #{{ season.id }}{% endblock %}

{% block body %}
    <div class="page__container">     
    </div>

    <div class="show-episode__container">
        
        <h1>{{ program.title }} : Saison {{ season.number }}</h1>
        <h2>Épisode {{ episode.number }} : {{ episode.title }} </h2>
        <p>{{ episode.synopsis }}</p>

        <a href="{{ path('program_index') }}">
            Retour à la liste des programmes
        </a>
    </div>
        
    
{% endblock %}